<!DOCTYPE html>
<html>
<style>
    #Ttile{
        float: right;
        margin-right: 1100px;
        margin-top: 50px;
        font-size: 25px;
        font-weight: bold;
    }
    .logo{
        height: 130px;
        width: 130px;
        float: left;
        padding: 10px 0;
    }
</style>
<head>
    <title>J's Book Store</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <img src="Images/logo.GIF" class="logo"><div id="Ttile">J's BookStore - Enjoy your books here.</div>
    <br>
</head>
<body>